manifest {
    name = 'Kubernetes nextflow test'
    description = "Simple pipeline for testing Nextflow on Kubernetes"
    version = '0.0.1'
    author = 'Abhinav Sharma <abhi18av@outlook.com>; Davi Marcon <davijosuemarcon@gmail.com>'
    mainScript = 'main.nf'
    nextflowVersion = '>=21.04'
}

docker.enabled = true

//profiles

profiles {
    sra {
        params.runType = "sra"
        params.apiKey = "FIXME"
        params.genomeIds = ["ERR841438",
                            "ERR841440",
                            "ERR841441",
                            "ERR2181457"]
    }

    local {
        params.runType = "local"
        params.reads = "${baseDir}/tests/*R{1,2}*.fastq.gz"
    }

}

//standard parameters
params.resultsDir = "${baseDir}/results"
params.saveMode = "copy"

//process configuration

process{
    withName:
    'FASTQC' {
        cpus = 1
        memory = '1 GB'
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
    }

    withName:
    'MULTIQC' {
        cpus = 2
        memory = '2 GB'
        container = 'quay.io/biocontainers/multiqc:1.9--pyh9f0ad1d_0'
    }

}
